evenement/evenement.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cours">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evenement">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:byte" name="modele"/>
              <xs:element type="xs:string" name="instructeur"/>
              <xs:element type="xs:date" name="date"/>
              <xs:element type="xs:byte" name="heure"/>
              <xs:element type="xs:byte" name="duree"/>
              <xs:element type="xs:byte" name="prix"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
